@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    color: #ff702a;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:#ff702a;
    --text-color:#fff;
    --bg-color:#1e1c2a;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

img{
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}


/* ------- Default ------- */

.pt-80{
    padding-top: 80px;
}

.pt-70{
    padding-top: 70px;
}

.pb-120{
    padding-bottom: 120px;
}

.mb-30{
    margin-bottom: 30px;
}

.mt-50{
    margin-top: 50px;
}

/* ----- Sección de animaciones ----- */

@keyframes video{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.4);
        opacity: 0;
    }
}


@keyframes bounceTop-1{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}


@keyframes animation-1{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* ---------- navbar css ---------- */

.navbar-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.navbar{
    position: relative;
    padding: 20px 0;
}


.navbar-brand .imagen{
    max-width: 150px;
    max-height: 50px;
}

.navbar-nav .nav-item{
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--main-color);
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover{
    color: black;
}

.navbar-nav .nav-item .nav-link::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0;
    transition: all .3 ease-out 0s;
}

.navbar-nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before{
    opacity: 1;
}

h1, h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: black;
}

h3{
    font-size: 28px;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 0;
}

span{
    display: contents;
    color: var(--main-color);
}

/* ------ todos los botones css ------ */

.main-btn{
    display: inline-block;
    margin-top: 8px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .2s;
}

.main-btn:hover{
    transform: scale(1.1) translateY(5px);
    transition: .4s;
    color: #fff;
}

/* ------- pag inicio css ------- */

.header-hero{
    position: relative;
    top: 0;
    height: 800px;
    background-position: bottom center;
}

.header-hero .shape{
    position: absolute;
}

.header-hero .shape.shape-1{
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    background: #ff702a;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-2{
    width: 39px;
    height: 39px;
    left: 150px;
    bottom: 40px;
    border-radius: 50%;
    background: #fd6011;
    animation: animation-1 2s linear infinite;
}


.header-hero .shape.shape-3{
    width: 19px;
    height: 19px;
    left: 26px;
    bottom: 25%;
    border-radius: 50%;
    background: #FFF1A1;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-4{
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    background: #4CE7FF;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-5{
    width: 19px;
    height: 19px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    background: #fd6011;
    animation: animation-1 2s linear infinite;
}

.header-hero .shape.shape-6{
    width: 14px;
    height: 14px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    background: #4CE7FF;
    animation: animation-1 2s linear infinite;
}




.header-hero-content{
    position: relative;
}

.header-hero-content .header-title{
    font-size: 42px;
    color: black;
}

.header-hero-content .text{
    margin-top: 30px;
}

.header-hero-content ul{
    margin-top: 30px;
}

.header-hero-content ul li .header-video{
    margin-left: 50px;
}

.header-hero-content .header-video{
    position: relative;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
}

.header-hero-content .header-video::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -9;
    animation: video 2s linear infinite;
}

.header-image{
    position: relative;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite;
}

.header-shape-1{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(/imagenes/header-forma-1.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vbox-close{
    color: #fff;
    background: transparent;
    font-size: 40px;
    right: 12%;
}

/* ----- sección estadísticas ----- */

.stats-section .single-stat{
    padding: 30px;
    text-align: center;
    box-shadow: 0 15px 17px 0 rgb(154 154 154 / 55%);
}

.stats-section .single-stat .icon{
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.stats-section .single-stat .icon.color-2{
    background-color: #FFF1A1;
}

.stats-section .single-stat .icon.color-3{
    background-color: #4CE7FF;
}

.stats-section .single-stat .icon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .5;
    transition: all .3s ease-out 0s;
}

.stats-section .single-stat:hover .icon::after{
    top: 8px;
    right: 9px;
}
.stats-section .single-stat .content h3{
    font-weight: 600;
    margin-bottom: 25px;
}


/* ----- hl pag inicio css ----- */


.hl-area{
    overflow: hidden;
}

.hl-image{
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hl-image .hl-shape{
    position: absolute;
    top: 70px;
    left:40px;
    width: 394px;
    height: 394px;
    background-color: var(--main-color);
    border-radius: 50%;
}

.hl-image .hl-shape::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    border-top-color: transparent;
    border-right-color: transparent;
    transform: scale(1.1) rotate(25deg);
}

.hl-image .app{
    margin-top: 70px;
    left: 25px;
    transform: rotate(-25deg) translateY(-22%);
}

.title{
    margin-top: 130px;
    font-size: 35px;
    font-weight: 600;
}

.text{
    margin-top: 20px;
}

.hl-content .main-btn{
    margin-top: 40px;
}