header .navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }
  header .navbar-area .navbar-brand img {
    max-width: 150px;
    max-height: 50px; }
  header .navbar-area .navbar-toggler {
    color: transparent;
    border-color: transparent; }
  header .navbar-area .navbar-nav .nav-item {
    position: relative;
    margin-left: 40px; }
    header .navbar-area .navbar-nav .nav-item .nav-link {
      position: relative;
      padding: 10px 0;
      font-size: 18px;
      font-weight: 400;
      color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link:hover {
        color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link:active {
        color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: 0;
        left: 50%;
        border-radius: 50%;
        background-color: black;
        opacity: 0;
        transition: all .3 ease-out 0s; }
      header .navbar-area .navbar-nav .nav-item .nav-link:hover::before {
        opacity: 1; }
    header .navbar-area .navbar-nav .nav-item .nav-link.active::before {
      opacity: 1; }
