@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  color: #E75219;
  overflow-x: hidden; }

img {
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block; }

h1, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: black; }

h2 {
  font-weight: 700;
  color: black; }

h3 {
  font-size: 28px; }

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  margin: 0; }

span {
  display: contents;
  color: #FF8B00; }

.title {
  margin-top: 130px;
  font-size: 35px;
  font-weight: 600; }

.text {
  margin-top: 20px; }

.dark {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  background-color: #FFF1A1; }

.main-btn {
  display: inline-block;
  margin-top: 8px;
  background-color: #FF6C00;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: .2s; }

.main-btn:hover {
  transform: scale(1.1) translateY(5px);
  transition: .4s;
  color: #fff; }

.sticky {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.5); }

.pt-80 {
  padding-top: 80px; }

.pt-70 {
  padding-top: 70px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pt-180 {
  padding-top: 180px; }

.pb-120 {
  padding-bottom: 120px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-60 {
  margin-bottom: 60px; }

.mt-50 {
  margin-top: 50px; }

.ml-60 {
  margin-left: 860px; }

@keyframes video {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(1.4);
    opacity: 0; } }

@keyframes bounceTop-1 {
  0%, 100% {
    transform: translateY(-30px); }
  50% {
    transform: translateY(0px); } }

@keyframes animation-1 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .footer-link {
    padding-top: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .footer-contact {
    padding-top: 30px; } }

@media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 5px 12px;
    background-color: #fff;
    box-shadow: 0 15px 20px 0 black; }
  .navbar-nav .nav-item .nav-link::before {
    position: relative; }
  .header-title span {
    color: black; }
  .header-image img {
    height: 300px; }
  .header-hero-content {
    margin-top: 20%; }
  .stats-section .single-stat {
    box-shadow: none; }
  .hl-image .hl-shape {
    width: 380px;
    height: 380px; }
  .hl-image .app {
    margin-left: 50px;
    margin-top: 90px; }
  .footer-link {
    padding-top: 10px; }
  .footer-contact {
    padding-top: 10px; }
  .footer-area .text {
    margin-top: 40px; } }

header .navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }
  header .navbar-area .navbar-brand img {
    max-width: 150px;
    max-height: 50px; }
  header .navbar-area .navbar-toggler {
    color: transparent;
    border-color: transparent; }
  header .navbar-area .navbar-nav .nav-item {
    position: relative;
    margin-left: 40px; }
    header .navbar-area .navbar-nav .nav-item .nav-link {
      position: relative;
      padding: 10px 0;
      font-size: 18px;
      font-weight: 400;
      color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link:hover {
        color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link:active {
        color: black; }
      header .navbar-area .navbar-nav .nav-item .nav-link::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        bottom: 0;
        left: 50%;
        border-radius: 50%;
        background-color: black;
        opacity: 0;
        transition: all .3 ease-out 0s; }
      header .navbar-area .navbar-nav .nav-item .nav-link:hover::before {
        opacity: 1; }
    header .navbar-area .navbar-nav .nav-item .nav-link.active::before {
      opacity: 1; }

header .header-hero {
  position: relative;
  top: 0;
  height: 800px;
  background-position: bottom center; }
  header .header-hero .shape {
    position: absolute; }
  header .header-hero .shape.shape-1 {
    position: relative;
    width: 75px;
    height: 75px;
    left: 130px;
    top: 20%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #E75219; }
  header .header-hero .shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 150px;
    bottom: 40px;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #FF6C00; }
  header .header-hero .shape.shape-3 {
    width: 19px;
    height: 19px;
    left: 26px;
    bottom: 25%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #FFF1A1; }
  header .header-hero .shape.shape-4 {
    width: 39px;
    height: 39px;
    left: 40%;
    top: 175px;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #00CCFF; }
  header .header-hero .shape.shape-5 {
    width: 19px;
    height: 19px;
    left: 50%;
    bottom: 20%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #4CE7FF; }
  header .header-hero .shape.shape-6 {
    width: 14px;
    height: 14px;
    left: 45%;
    bottom: 70%;
    border-radius: 50%;
    animation: animation-1 2s linear infinite;
    background: #FF6C00; }
  header .header-hero .header-hero-content {
    position: relative; }
    header .header-hero .header-hero-content .header-title {
      margin-top: 100px;
      font-size: 42px;
      color: black; }
    header .header-hero .header-hero-content .text {
      margin-top: 30px; }
    header .header-hero .header-hero-content ul {
      margin-top: 30px; }
      header .header-hero .header-hero-content ul li a.header-video {
        position: relative;
        margin-left: 50px;
        margin-top: 6px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        border-radius: 50%;
        background-color: #FF6C00;
        color: #fff; }
        header .header-hero .header-hero-content ul li a.header-video::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 50%;
          background-color: #FF6C00;
          z-index: -9;
          animation: video 2s linear infinite; }
      header .header-hero .header-hero-content ul li .vbox-close {
        color: #fff;
        background: transparent;
        font-size: 40px;
        right: 12%; }
  header .header-hero .header-image {
    position: relative;
    width: 500px;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite; }

.header-shape-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url(/imagenes/header-forma-1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  .header-shape-1 .header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; }

.stats-section .single-stat {
  padding: 30px;
  text-align: center;
  box-shadow: 0 15px 17px 0 #5b5e60; }
  .stats-section .single-stat:hover .icon::after {
    top: 8px;
    right: 9px; }
  .stats-section .single-stat .icon.color-2 {
    background-color: #FFF1A1; }
  .stats-section .single-stat .icon.color-3 {
    background-color: #4CE7FF; }
  .stats-section .single-stat .icon {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: #FF6C00;
    color: #fff;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px; }
    .stats-section .single-stat .icon::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border-radius: inherit;
      top: -8px;
      right: -8px;
      z-index: -1;
      opacity: .5;
      transition: all .3s ease-out 0s; }
  .stats-section .single-stat .content h3 {
    font-weight: 600;
    margin-bottom: 25px; }

.hl-area {
  overflow: hidden; }
  .hl-area .hl-image {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .hl-area .hl-image .hl-shape {
      position: absolute;
      top: 70px;
      left: 40px;
      width: 394px;
      height: 394px;
      background-color: #FF6C00;
      border-radius: 50%; }
      .hl-area .hl-image .hl-shape::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 2px solid #FF6C00;
        border-top-color: transparent;
        border-right-color: transparent;
        transform: scale(1.1) rotate(25deg); }
    .hl-area .hl-image .app {
      margin-top: 90px;
      margin-left: 40px;
      transform: rotate(-25deg) translateY(-22%); }
  .hl-area .main-btn {
    margin-top: 40px; }

.noticias-section {
  padding: 100 0;
  background-color: #ffa67a; }
  .noticias-section .tns-controls {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 60%;
    transform: translateY(-50%); }
    .noticias-section .tns-controls button {
      border: none;
      background: 0 0; }
      .noticias-section .tns-controls button svg {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 8%;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.13);
        color: #fff;
        z-index: 22; }
        .noticias-section .tns-controls button svg:hover {
          background-color: #fff;
          color: #ffa67a; }
      .noticias-section .tns-controls button .fa-angle-left {
        left: 10%; }
      .noticias-section .tns-controls button .fa-angle-right {
        right: 10%; }
  .noticias-section .noticias-active-wrapper {
    position: relative; }
    .noticias-section .noticias-active-wrapper .noticias-wrapper {
      padding: 40px; }
      .noticias-section .noticias-active-wrapper .noticias-wrapper .single-noticias {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        z-index: 9; }
        .noticias-section .noticias-active-wrapper .noticias-wrapper .single-noticias::before {
          top: -20px;
          right: -20px;
          opacity: .26;
          z-index: -1;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #fff;
          border-radius: inherit; }
        .noticias-section .noticias-active-wrapper .noticias-wrapper .single-noticias::after {
          top: -40px;
          right: -40px;
          opacity: .13;
          z-index: -2;
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #fff;
          border-radius: inherit; }

.faq-section .accordion-item {
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(142, 142, 142, 0.16); }
  .faq-section .accordion-item button {
    position: relative;
    padding: 18px 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    background-color: #fff;
    color: #E75219; }

.faq-section .accordion-button:not(.collapsed)::after {
  background-image: url(../imagenes/accordion.svg); }

.footer-area {
  position: relative;
  overflow: hidden; }
  .footer-area .footer-shape {
    position: absolute; }
  .footer-area .footer-shape.shape-1 {
    width: 75px;
    height: 75px;
    left: 70px;
    background-color: #ffa67a;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .footer-shape.shape-2 {
    width: 39px;
    height: 39px;
    left: 15%;
    bottom: 40px;
    background-color: #00CCFF;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .footer-shape.shape-3 {
    width: 20px;
    height: 20px;
    left: 35%;
    top: 40px;
    background-color: #E75219;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .footer-shape.shape-4 {
    width: 15px;
    height: 15px;
    left: 50%;
    bottom: 5px;
    background-color: #fe5f59;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .footer-shape.shape-5 {
    width: 39px;
    height: 39px;
    right: 37%;
    top: 0px;
    background-color: #1e1c2a;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .footer-shape.shape-6 {
    width: 15px;
    height: 15px;
    right: 15%;
    top: 125px;
    background-color: #FF8B00;
    border-radius: 50%;
    opacity: .55;
    animation: animation-1 2s linear infinite; }
  .footer-area .logo {
    max-width: 200px; }
  .footer-area .footer-about {
    max-width: 320px; }
    .footer-area .footer-about .text {
      margin-top: 30px; }
    .footer-area .footer-about .social {
      margin-top: 30px; }
      .footer-area .footer-about .social li {
        display: inline-block;
        margin-right: 25px; }
        .footer-area .footer-about .social li a {
          font-size: 20px;
          color: #595a5c;
          transition: all .3s ease-out 0s; }
          .footer-area .footer-about .social li a:hover {
            color: #FF6C00; }
  .footer-area .footer-link .footer-link-wrapper {
    width: 50%; }
    .footer-area .footer-link .footer-link-wrapper .link {
      padding-top: 10px; }
      .footer-area .footer-link .footer-link-wrapper .link li {
        margin-top: 10px; }
        .footer-area .footer-link .footer-link-wrapper .link li a {
          text-decoration: none;
          font-size: 18px;
          color: #747e88;
          transition: all .3s ease-out 0s; }
          .footer-area .footer-link .footer-link-wrapper .link li a:hover {
            color: #FF6C00; }
    .footer-area .footer-link .footer-link-wrapper .footer-title .title {
      font-size: 20px;
      font-weight: 500; }
  .footer-area .footer-contact a {
    color: #747e88;
    transition: all .3s ease-out 0s; }
    .footer-area .footer-contact a:hover {
      color: #FF6C00; }
  .footer-area .footer-copyright .copyright {
    border-top: 2px solid #747e88;
    padding-top: 10px;
    padding-bottom: 25px; }
    .footer-area .footer-copyright .copyright a {
      color: #5f5f5f; }

.bg-oscuro {
  color: black; }

.bg-derrota, .bg-victoria {
  display: inline-block;
  margin-left: 18px;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: black;
  background-color: #ff2525;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem; }

.bg-victoria {
  background-color: #2ff75a; }

.contact-area {
  margin-top: 100px; }
  .contact-area .contact-title span {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
    font-weight: 700; }
  .contact-area .contact-title h2 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #fff; }
  .contact-area .contact-form input {
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
    border: 0;
    outline: none;
    border-radius: 5px;
    background: #F6F7F9; }
  .contact-area .contact-form textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background: #F6F7F9;
    outline: none; }
